source/SampleCode_DeskTop/Service References/CWSTransactionManagement/schemas169.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:q1="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" xmlns:tns="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schemas.evosnap.com_Ipc.General.WCF.Contracts.Common_External.xsd" namespace="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="q1:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>