source/SampleCode_DeskTop/Service References/CwsTransactionProcessing/Txn1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.ciptest.goevo.local/2.0.19/Txn?xsd=xsd8" namespace="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" minOccurs="0" name="PingResult" nillable="true" type="q1:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>