source/SampleCode_DeskTop/Service References/CwsTransactionProcessing/Txn6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/External" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingResponse" nillable="true" type="tns:PingResponse" />
</xs:schema>